.log-form
  = form_for :session, url: login_path, class:"form-signin" do |f|
    %h2 Please log in
    = f.label :email, "Email address", class: "sr-only"
    = f.email_field :email, class: "form-control input-lg", placeholder: 'Enter your email address', required: true
    = f.submit("Log in", class: "btn btn-lg btn-block btn-dark")
  %h2 or
  = link_to "Sign up", sign_up_path, :class => "btn btn-lg btn-block btn-light"