%h1 Room pricing list
%table.table
  %thead
    %tr
      %th Title
      %th
      %th Room type
      %th Room view
      %th.t-center Open day price
      %th.t-center Week-end price
      %th.t-center From
      %th.t-center to
      %th
  %tbody
    - @room_pricings.each do |room_price|
      %tr{ :class => status_css_class(room_price) }
        %td
          = room_price.title
        %td
          = status_message(room_price)
        %td
          = room_price.room_type.title
        %td
          = room_price.room_view.title
        %td.td-price
          = "$ #{room_price.price_open_day}"
        %td.td-price
          = "$ #{room_price.price_week_end}"
        %td.t-center
          = room_price.date_from.to_s
        %td.t-center
          - if room_price.date_to.to_s < Time.new.strftime("%Y-%m-%d").to_s
            - archive_old_room_pricing(room_price)
          = room_price.date_to.to_s
        %td
          = link_to "Details", administration_room_pricing_path(room_price.id), :class => "btn btn-default"
    %tr
      %td{:colspan => 7}
      %td
        = link_to "New", new_administration_room_pricing_path, :class => "btn btn-primary btn-lg"