.col-sm-3.col-md-2.sidebar
  %ul.nav.nav-sidebar
    %h5 Today info
    %li
      = link_to "Overview", administration_path, :class => active_link?(administration_path)
    %li
      = link_to "Room manager", rooms_path, :class => active_link?(rooms_path)
    %li
      = link_to "Check-in", administration_path
    %li
      = link_to "Check-out", administration_path
  %ul.nav.nav-sidebar
    %h5 Statistics
    %li
      = link_to "Reports", administration_path
    %li
      = link_to "Analytics", administration_path
    %li
      = link_to "Reports", administration_path

  %ul.nav.nav-sidebar
    %h5 Room settings
    %li
      = link_to "Room creation", new_room_path, :class => active_link?(new_room_path)
    %li
      = link_to "Pricing", room_pricings_path, :class => active_link?(room_pricings_path, new_room_pricing_path)
    %li
      = link_to "Room settings", room_types_path, :class => active_link?("/room_type")
  %ul.nav.nav-sidebar
    %h5 General settings
    %li
      = link_to "Company settings", setting_path(1), :class => active_link?("/settings")