.col-sm-3.col-md-2.sidebar
  %ul.nav.nav-sidebar
    %h5 Today info
    %li
      = link_to "Overview", administration_path, :class => active_link?(administration_path)
    %li
      = link_to "Room manager", administration_overview_path, :class => active_link?(administration_overview_path)
    %li
      = link_to "Check-in", administration_path
    %li
      = link_to "Check-out", administration_path
  %ul.nav.nav-sidebar
    %h5 Statistics
    %li
      = link_to "Reports", administration_path
    %li
      = link_to "Analytics", administration_path
  %ul.nav.nav-sidebar
    %h5 Reservations
    %li
      = link_to "See all", administration_reservations_path, :class => active_link?(administration_reservations_path)
    %li
      = link_to "Create", new_administration_reservation_path, :class => active_link?(new_administration_room_path)
  %ul.nav.nav-sidebar
    %h5 Room settings
    %li
      = link_to "Room creation", new_administration_room_path, :class => active_link?(new_administration_room_path)
    %li
      = link_to "Room edition", administration_rooms_path, :class => active_link?(administration_rooms_path)
    %li
      = link_to "Types & views", administration_room_types_path, :class => active_link?(administration_room_types_path)
    %li
      = link_to "Pricing", administration_room_pricings_path, :class => active_link?(administration_room_pricings_path, new_administration_room_pricing_path)
  %ul.nav.nav-sidebar
    %h5 General settings
    %li
      = link_to "Company settings", administration_setting_path(1), :class => active_link?(administration_setting_path(1))