%h1 Reservation list
%p click on the line to see details

%table.table.table-hover
  %thead
    %tr
      %th #Reservation
      %th Name
      %th Created at
      %th Rooms detail

  %tbody
    - @reservations.each do |reservation|
      %tr{:class => "clickable-row", data:{ :href => "#{administration_reservation_path reservation}"} }
        %td
          = reservation.id
        %td
          = reservation.customer.name
        %td
          = reservation.created_at.to_date
        %td
          %table.table
            %tbody
              - reservation.reservation_rooms.order("date_from ASC").each do |reservation_room|
                %tr
                  %td
                    \#
                    = reservation_room.room.number
                    = reservation_room.room.room_type.title
                    = reservation_room.room.room_view.title
                  %td
                    = reservation_room.date_from
                  %td
                    = reservation_room.date_to

