%h1 Reservation list

%table.table
  %thead
    %tr
      %th #Reservation
      %th Name
      %th Created at
      %th Rooms
      %th Date from
      %th Date to

  %tbody
    - @reservations.each do |reservation|
      %td{:rowspan => reservation.reservation_rooms.length + 1}
        = reservation.id
      %td{:rowspan => reservation.reservation_rooms.length + 1}
        = reservation.customer.name
      %td{:rowspan => reservation.reservation_rooms.length + 1}
        = reservation.created_at.to_date
        - reservation.reservation_rooms.order("date_from ASC").each do |reservation_room|
          %tr
            %td
              \#
              = reservation_room.room.number
              = reservation_room.room.room_type.title
              = reservation_room.room.room_view.title

            %td
              = reservation_room.date_from
            %td
              = reservation_room.date_from

