.container.margin-bottom
  %h1 My reservation
  .panel.panel-default
    .panel-heading Next reservation
    .panel-body
      - @reservations.each do |reservation|
        - reservation.reservation_rooms.each do |reservation_room|
          - if reservation_room.date_from >= Date.today
            %table.table
              %tbody
                %tr
                  %td
                    = image_tag( reservation_room.room.get_first_picture, class: 'img-reservation')
                  %td
                    %p From #{reservation_room.date_from} to #{reservation_room.date_from}
                    %p #{reservation_room.room.room_type.title} - #{reservation_room.room.room_view.title}
  .panel.panel-default
    .panel-heading Past reservation
    .panel-body
      - @reservations.each do |reservation|
        - reservation.reservation_rooms.each do |reservation_room|
          - if reservation_room.date_from < Date.today
            %table.table
              %tbody
                %tr
                  %td
                    = image_tag( reservation_room.room.get_first_picture, class: 'img-reservation')
                  %td
                    %p From #{reservation_room.date_from} to #{reservation_room.date_from}
                    %p #{reservation_room.room.room_type.title} - #{reservation_room.room.room_view.title}