%h1 List room TEST
%p
  = @reservation_room.room.number
  = @reservation_room.room.room_type.title
  = @reservation_room.room_pricing.room_view.title
  = @reservation_room.room.get_price_per_nigth("2020-06-26")
  = @reservation_room.room.get_price_per_nigth("2020-06-27")
  = @reservation_room.get_price_per_stay

%p
  = @room.number
%p
  = @room.reservation_rooms
%ul
  - get_free_rooms_on_date("2020-06-29", "2020-06-30").order("number ASC").each do |room|
    %li
      = room.number
      = room.reservation_rooms



- @rooms.each do |room|
  %div
    %p
      = room.number
    %p
      = room.room_type.title
    %p
      = room.room_view.title
    %p
      Today price :
      = room.get_price_per_nigth("2020-06-26")
    %p
      Week-end price :
      = room.get_price_per_nigth("2020-06-27")

  %hr
