.section-header
  .jumbotron
    %h1 Welcome to Nagano Confort Inn
    %p Leave everything in our hands and take advantage.
  .container-fluid
    .container-reservation-form
      %h2 Find your room and book it !
      = form_tag :search_page, :method => "get", :class => "form-horizontal" do
        .form-group
          = label_tag :date_from, "Check in", class: "col-sm-2 control-label"
          .col-sm-4
            = text_field_tag :date_from, '', id: "datepicker-from", class: "form-control"
          = label_tag :date_to, "Check out", class: "col-sm-2 control-label"
          .col-sm-4
            = text_field_tag :date_to, '', id: "datepicker-to", class: "form-control"
        .form-group
          = label_tag :number_of_room, "Number of rooms", class: "col-sm-2 control-label"
          .col-sm-4
            = select_tag(:number_of_room, options_for_select(1..9), class: "form-control")
          = label_tag :number_of_adults, "Adults", class: "col-sm-2 control-label"
          .col-sm-1
            .btn.btn-default -
          .col-sm-2
            = text_field_tag :number_of_adults, '1', class: "form-control"
          .col-sm-1
            %div{ class: 'btn btn-default', onclick: 'add_adults();'}
              +
            .btn.btn-default +
        .form-group
          = label_tag :room_type, "Room type", class: "col-sm-2 control-label"
          .col-sm-4
            = select_tag(:room_type, options_from_collection_for_select( @room_types, "id", "title", "Single" ), class: "form-control")
          = label_tag :number_of_children, "Children", class: "col-sm-2 control-label"
          .col-sm-1
            .btn.btn-default -
          .col-sm-2
            -# = number_field_tag :number_of_children, :min, min:1, max:5
            = text_field_tag :number_of_children, '1', class: "form-control"
          .col-sm-1
            .btn.btn-default +
        .form-group
          .col-sm-8
          .col-sm-4
            =label_tag :company_name, "View ocean", class: "form-check-label"
            =check_box_tag :view_ocean, class: "form-check-input"
        .form-group
          .col-sm-8
          .col-sm-4
            = submit_tag("Find", class: "btn btn-default btn-lg btn-block")
