.container-fluid.search-result
  %h1 Search result
  %table.table
    %tbody
      %tr
        %td
          %h4 Guest
          %p #{params[:number_of_adults]} adults, #{params[:number_of_children]} children
        %td
          %h4 Check-in
          %p
            = params[:date_from]
        %td
          %h4 Check-out
          %p
            = params[:date_to]
        %td
          .btn.btn-default Search
  -@rooms.each do |room|
    .panel.panel-default
      .panel-body
        .row
          .col-sm-3
            .thumbnail
              - if room.room_pictures.empty?
                = image_tag "room_double_ocean.jpeg"
              - else
                = image_tag room.room_pictures.first.file_name
          .col-sm-9
            %h3
              = room.room_type.title
              - if room.room_view.title == "Ocean"
                = "  -  View ocean"
            %p
              Capacity
              - for i in (1..room.capacity)
                %span.fa.fa-user
            %hr
            .container-detail-room
              .col-sm-8
                = room.number
                = room.capacity
                = count_room(room, params[:date_from], params[:date_to])
              .col-sm-4.container-btn
                .btn.btn-default.btn-block Book
