.container-fluid.search-result
  %h1 Search result
  .container
    = render "form_search_room"
  %h2 Result
  -@rooms.each do |room|
    .panel.panel-default
      .panel-body
        .row
          .col-sm-3
            .thumbnail
              - if room.room_pictures.empty?
                = image_tag "room_double_ocean.jpeg"
              - else
                = image_tag room.room_pictures.first.file_name
          .col-sm-9
            %h3
              = room.room_type.title
              - if room.room_view.title == "Ocean"
                = "  -  View ocean"
            %p
              Capacity
              - for i in (1..room.capacity)
                %span.fa.fa-user
            %hr
            .container-detail-room
              .col-sm-8
                #{count_room(room, params[:date_from], params[:date_to])} free rooms
              .col-sm-4.container-btn
                .btn.btn-default.btn-block.btn-light Book
