.container-fluid
  .row
    =render "administration/side_menu"
    .col-sm-9.col-md-10.main
      %h1 List of rate periods
      - flash.each do |name, msg|
        .alert.alert-success
          = msg
      %table.table
        %thead
          %tr
            %th Title
            %th From
            %th to
            %th{:colspan => 3} Rate
        %tbody
          - @rate_periods.each do |rate_period|
            %tr
              %td
                = rate_period.title
              %td
                = rate_period.date_from
              %td
                = rate_period.date_to
              %td{:class => class_from_value(rate_period.over_rate_percentage, rate_period.over_rate_dollar)}
                - if rate_period.over_rate_percentage
                  = rate_period.over_rate_percentage.to_s + "%"
                - else
                  = rate_period.over_rate_dollar.to_s + "$"
              %td Now
              %td
                = link_to "Edit", edit_rate_period_path(rate_period.id), :class => "btn btn-default"
                %button.btn.btn-default Archive
          %tr
            %td{:colspan => 5}
            %td
              = link_to "New", new_rate_period_path, :class => "btn btn-primary btn-lg"