%h1 Room edition
%table.table
  %thead
    %tr
      %th Number
      %th Type
      %th View
      %th Capacity
      %th
  %tbody
    - @rooms.each do |room|
      %tr
        %td
          = room.number
        %td
          = room.room_type.title
        %td
          = room.room_view.title
        %td
          #{room.capacity} persons
        %td
          = link_to "Edit", edit_administration_room_path(room), :class => "btn btn-default btn-sm btn-block"