%h1.room-show Room #{@room.number}
.status
  = room_status(@room)
%hr
%h3.room-show Change room status
.status
  =link_to "Cleaning", administration_room_path(@room, :status => "Cleaning", :back_link => administration_room_path(@room)), method: :put, class: "btn btn-default btn-status btn-orange"
  =link_to "Ready", administration_room_path(@room, :status => "Ready"), method: :put, class: "btn btn-default btn-status btn-green"
  =link_to "Busy", administration_room_path(@room, :status => "Busy"), method: :put, class: "btn btn-default btn-status btn-red"
%hr
%h3 Room details
%table.table
  %tbody
    %tr
      %td Room type : #{@room.room_type.title}
      %td Room view : #{@room.room_view.title}
%hr
%h3 Room pricing
- if @room.get_room_pricings.length > 0
  - @room.get_room_pricings.each do |room_pricing|
    %table.table
      %thead
        %tr
          %th #{room_pricing.title} from #{room_pricing.date_from} to #{room_pricing.date_to}
          %th.align-right #{status_message(room_pricing)}
      %tbody
        %tr
          %td Open day price: $ #{room_pricing.price_open_day}
          %td Week-end price: $ #{room_pricing.price_week_end}
- if @room.get_room_pricing_on_date("now").length == 0
  %p Actually, no rate associates with this room. You can create it down bellow.
  = render "administration/room_pricings/form_room_pricing"
%hr
%h3 Room reservations
%table.table
  %thead
    %tr
      %th #Reservation
      %th Name
      %th Date from
      %th Date to
      %th Created at
  %tbody
    - @room.reservation_rooms.each do |reservation_room|
      %tr
        %td
          = reservation_room.reservation_id
        %td
          Nom du client
        %td
          = reservation_room.date_from
        %td
          = reservation_room.date_to
        %td
          = reservation_room.created_at.to_date

